<h1>About</h1>
<h3>betterSetter is an app built to track progress during different work-out phases. Mark down when and what you did so you can easily call up your last workout to get a better set every week.</h3>
