{{search}}

{{workout-form createWorkout='createWorkout'}}
<h3 class="past" >Past Workouts:</h3>
<section>
<ul>
  {{#each model as |exercise|}}
  {{#link-to 'exercise' exercise}} <h3>📅 {{exercise.date}}</h3>
  {{/link-to}}
  {{/each}}
</ul>
</section>
